html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: url('../images/bg_white.png');
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  padding-bottom: 40px;
}

ul {
  padding: 0;
  margin: 0;
}

.loading {
  background: #fff url('../images/spinner.gif') no-repeat center center;
  width: 100%;
  height: 100%
}

#splashscreen,
.abs100 {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#defaultApp__ {
  margin: 40px auto;
  width: 960px;
  background: #fff;
/*  border-top: 3px solid #404040;*/
}

#defaultApp__header {
  text-align: left;
/*  outline: 1px solid red;*/
/*border: 1px solid #404040;*/
border-bottom: 1px solid #aaa;
background: -webkit-linear-gradient(top, #d8d8d8, #b8b8b8);
-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#defaultApp__header__prev {
  display: none !important;
}

#defaultApp__header__title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 40px;
  padding: 10px;
}

#defaultApp__menu {}

#defaultApp__menu ul {
  display: block;
  margin: 20px auto 0;
  padding: 0;
  width: 98%;
  height: 30px;
  border-bottom: solid 1px #ddd;
  text-align: center;
}

#defaultApp__menu li {
  display: inline-block;
  width: auto;
  height: 30px;
  padding: 0;
  text-transform: capitalize;
  width: auto;
  height: 29px;
  padding: 0px 9px;
  line-height: 30px;
  border: solid 1px #ddd;
  margin: 0 -1px 0 0;
  color: #555;
  background: #eaeaea;
}

#defaultApp__menu li:not(.selected):hover {
  cursor: pointer;
}


#defaultApp__menu li.selected {
  background: #fff;
  border-width: 1px 1px 0px 1px;
  border-top: 1px solid orange;
  height: 30px;
  -webkit-box-shadow: inset 0 2px 0 0 orange;
}

#defaultApp__content {
  margin: auto;
  width: 98%;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 20px;
  min-height: 300px;
}

#defaultApp__content__itemList,
#defaultApp__content__detail {
  float: left;
  width: 50%;
}

#defaultApp__content__itemList {
  -webkit-box-sizing: border-box;
  border-right: 1px solid #ddd;
}

#defaultApp__content__itemList li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  list-style: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#defaultApp__content__itemList li.selected {
  background: #ddd;
}

#defaultApp__content__itemList li:last-child {
  border-bottom: 0;
}

#defaultApp__content__detail {
  -webkit-box-sizing: border-box;
  padding: 10px;
}

#defaultApp__content__detail h4 {
  margin-top: 0;
}