html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: url('../images/bg_white.png');
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

body {
  padding-bottom: 40px;
}

ul {
  padding: 0;
  margin: 0;
}

.loading {
  background: #fff url('../images/spinner.gif') no-repeat center center;
  width: 100%;
  height: 100%
}

#splashscreen,
.abs100 {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#defaultApp__ {
  /* 
  margin: 89px auto 40px auto;
  width: 960px;
  */
  background: transparent;
}

.josh-id-header {
  text-align: left;
  border-bottom: 1px solid #666;
  background: -webkit-linear-gradient(top, #d8d8d8, #b8b8b8);
}

#defaultApp__header__prev {
  display: none !important;
}

.josh-id-header_title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 40px;
  padding: 10px;
}

.josh-id-header_title .titleLogo{
  margin: 0 auto;
  width: 940px;
}


/* MENU */


.josh-id-menu {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.josh-id-menu ul {
  display: block;
  margin: 0 auto;
  padding: 10px 0 0px 0;
  /*height: 30px;*/
  background: white;
  text-align: center;
  border-bottom: 1px solid #BBB;
  line-height: 0;
}

.josh-id-menu li {
  display: inline-block;
  height: 30px;
  padding: 10px 31px;
  margin: 0 1px 10px 0;
  text-transform: uppercase;
  line-height: 30px;
  color: #888;
  font-size: 12px;
  background: white;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
}

/*
.josh-id-menu li:first-child{
  border-left: 1px solid #DDD;
}
.josh-id-menu li:last-child{}
*/

.josh-id-menu li:not(.selected):hover {
  cursor: pointer;
}


.josh-id-menu li.selected {
  color: #111;
}

.josh-id-menu li .name{
  float: left;
}


.josh-id-menu li .picto{
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../images/icons/bird.png);
  width: 30px;
  height: 100%;
  margin: 0 10px 0 0;
  float: left;
}




.menu li .item-tweets{
  background-image: url(../images/icons/bird.png);
}

.menu li.selected .item-tweets{
  background-image: url(../images/icons/bird-hover.png);
}

.menu li .item-ical{
  background-image: url(../images/icons/calendar.png);
}

.menu li.selected .item-ical{
  background-image: url(../images/icons/calendar-hover.png);
}

.menu li .item-photos{
  background-image: url(../images/icons/photos.png);
}

.menu li.selected .item-photos{
  background-image: url(../images/icons/photos-hover.png);
}

.menu li .item-spreadsheets{
  background-image: url(../images/icons/spreadsheet.png);
}

.menu li.selected .item-spreadsheets{
  background-image: url(../images/icons/spreadsheet-hover.png);
}

.menu li .item-videos{
  background-image: url(../images/icons/movie.png);
}

.menu li.selected .item-videos{
  background-image: url(../images/icons/movie-hover.png);
}

.menu li .item-rss{
  background-image: url(../images/icons/newspaper.png);
}

.menu li.selected .item-rss{
  background-image: url(../images/icons/newspaper-hover.png);
}

.menu li .item-about{
  background-image: url(../images/icons/about.png);
}

.menu li.selected .item-about{
  background-image: url(../images/icons/about-hover.png);
}




/* list view of menu elements */




.josh-id-content {
  margin: auto;
  width: 960px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 20px;
  min-height: 300px;
  padding-top: 1px;
  padding-left: 3px;
}

.josh-id-content_itemList,
.josh-id-content_detail {
  float: left;
  width: 50%;
}

.josh-id-content_itemList {
  -webkit-box-sizing: border-box;
  border-right: 1px solid #ddd;
}

.josh-id-content_itemList li.mainitemlist {
  border-bottom: 1px solid #DDD;
  padding: 10px;
  list-style: none;
  min-height: 40px;
}


.josh-id-content_itemList li.item-Article {
min-height: 61px;
}

.josh-id-content_itemList li.selected {
  background: #ddd;
}

.josh-id-content_itemList li:last-child {
  border-bottom: 1px solid #DDD;

}

.josh-id-content_detail {
  -webkit-box-sizing: border-box;
  padding: 10px;
}

.josh-id-content_detail h4 {
  margin-top: 0;
}


/* item grid */

li.item-ImageObject.grid {
  float: left;
  width: 20%;
  height: 95px;
  overflow: hidden;
  border-bottom: none;
  background: #FFF;
  border: 1px solid #DDD;
  margin: 1px;
}


li.item-ImageObject.grid .thumbnail{
  background-size: cover;
  width: 100%;
  height: 100%;
}


/* items list */

/*
 item-BlogPosting
*/

li.mainitemlist.item-BlogPosting .preview {
height: 69px;
}


li.item-BlogPosting.list  .preview img {
  max-height:130%;
}



/*
item-Event
*/

.josh-id-content_itemList li.item-Event{
  border-bottom: 1px solid #DDD;
  padding: 12px 10px 12px 10px;
  list-style: none;
  min-height: 30px;
}

.josh-id-content_itemList li.item-Event .event{

}

.josh-id-content_itemList li.item-Event .event .content {
  margin: 0px 4px 0 60px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.josh-id-content_itemList li.item-Event .event .startDate {
  top: 6px;
  line-height: 16px;
  margin-bottom: 5px;
}




/*
item-VideoObject
*/


.josh-id-content_itemList li.item-VideoObject{
}

.josh-id-content_itemList li.item-VideoObject .preview{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  overflow: hidden;
}

.josh-id-content_itemList li.item-VideoObject .preview img{
  width: 100%;
}


.josh-id-content_itemList li.item-VideoObject .title{
  margin: 0 25px 0 110px;
  font-size: 13px;
  color: #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}

.josh-id-content_itemList li.item-VideoObject .abstract{
  margin: 0 4px 0 110px;
  font-size: 15px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}




/* Detailed view of items list*/


/* Detailed article */

.josh-id-content_detail_article{
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #c5c3be;
  background: #fff;
  padding: 30px;
  }


.josh-id-content_detail_article .title{}

.josh-id-content_detail_article .title H1{
  margin: 8px 0;
  color: #111;
  line-height: 23px;
  font-size: 18px;
}


.josh-id-content_detail_article .body{}

.josh-id-content_detail_article .body p{
}

.josh-id-content_detail_article .body p a{
  color: black;
  text-decoration: underline;
}

.josh-id-content_detail_article .body .embed-youtube{
}
 /* displaying once as video player, once as thumbnail...  */
.josh-id-content_detail_article .body .embed-youtube .youtube-player{
max-width: 100%; /*i.e. 400px*/
max-height: 255px;
}

/* Detailed twitter */

.josh-id-content_detail_twitter{
padding:0;
}

.josh-id-content_detail_twitter .tweet {
  background: #FFF;
  padding:30px 30px 30px 20px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #C5C3BE;
}

.josh-id-content_detail_twitter .tweet .tweet-header{}

.josh-id-content_detail_twitter .tweet .tweet-header img{
  position: absolute;
  left: 30px;
  top: 32px;
  width: 35px;
  overflow: hidden;
  right: 0;
}

.josh-id-content_detail_twitter .tweet .tweet-header .username{
display: none;
}

.josh-id-content_detail_twitter .tweet .tweet-header .userlogin{

  margin: 0px 25px 0 63px;
  font-size: 16px;
  color: #111;
  font-weight: 700;
  line-height: 44px;
}

.josh-id-content_detail_twitter .tweet .tweet-header .user .login{}

.josh-id-content_detail_twitter .tweet .tweet-content{
  margin: 10px 5px 0 63px;
  font-size: 20px;
  line-height: 34px;
}


.josh-id-content_detail_twitter .tweet .tweet-content p.content {
white-space: normal;
margin: 3px 0;
}

.josh-id-content_detail_twitter .tweet .tweet-content p.content a{
color: black;
}


.josh-id-content_detail_twitter .tweet .tweet-content p.date{
font-size: 14px;
color:#808080;
line-height: 16px;
}



/* Detailed calendar  */

.josh-id-content_detail_event {
padding: 0;
}

.josh-id-content_detail_event .event{
  background: #FFF;
  padding:30px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #C5C3BE;
}

.josh-id-content_detail_event .event .coords{
  font-weight: 400;
  line-height: 20px;

  color: gray;
}

.josh-id-content_detail_event .event .coords p{
  margin: 0;
  line-height: 20px;
  margin: 0 8px 0 0;
  font-size: 16px;
}

.josh-id-content_detail_event .event .coords .startDate{
  float: left;
  font-weight: 700;
  color: #111;
}

.josh-id-content_detail_event .event .coords .endDate{
  float: left;
}

.josh-id-content_detail_event .event .coords .location{
  float: left;
  font-weight: 700;
}


.josh-id-content_detail_event .event .event-content{
  clear: left;
  margin-top: 25px;
}

.josh-id-content_detail_event .event .event-content .name{
  font-size: 18px;
  color: #111;
  font-weight: 700;
  padding: 0;
  margin: 0 0 10px 0;
}

.josh-id-content_detail_event .event .event-content .description{
  font-size: 16px;
  line-height: 23px;
  margin: 24px 0;
}





/* Detailed images */

.josh-id-content_detail_image {
  position:relative;
  border:10px solid #FFF;
  background: #F1F1F1;
  line-height: 0;
}


.josh-id-content_detail_image img {
background: #FFF;
width: 100%;
}

/* Detailed (google) spreadsheets */

.josh-id-content_detail_google{  
  background: #FFF;
  border-bottom: 1px solid #C5C3BE;
  padding: 30px;
}

.josh-id-content_detail_google .directory{
  margin: 0 auto;
  padding: 30px;
}

.josh-id-content_detail_google .directory .picture{
  max-height: 280px;
  overflow: hidden;
  margin: 0 auto 20px auto;
  text-align: center;
}

.josh-id-content_detail_google .directory .picture img{
max-width: 100%;
}

.josh-id-content_detail_google .directory .name{
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  color: #111;
  font-weight: 700;
}

.josh-id-content_detail_google .directory .description{
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  color: gray;
  margin: 2px 0 0 0;
}

.josh-id-content_detail_google .directory .content{
  font-size: 18px;
  line-height: 23px;
  margin: 13px 0;
}



  /* item-ImageObject */


.josh-id-content_detail_video{
  background: #FFF;
  padding-top: 30px;
  width: 100%;
  height: 100%;
}


.josh-id-content_detail_video .josh-id-content_detail_video_title{
  padding-left: 30px;
  color:#111;
}

.josh-id-content_detail_video .josh-id-content_detail_video_title .title{}

.josh-id-content_detail_video .josh-id-content_detail_video_title .title H1{
margin: 0 30px 0 0;
}

.josh-id-content_detail_video .josh-id-content_detail_video_title .title p.author{
color: #999;
margin-top: 0;

}

.josh-id-content_detail_video .josh-type-Video {
  border-top: #999 1px solid;
}


/* ABOUT */

.josh-id-content_about{
  position: relative;
  padding: 30px 100px 20px 100px;
  background: white;
}

.josh-id-content_about .aboutpage{
}

.josh-id-content_about .aboutpage H3{

}

.josh-id-content_about .aboutpage p{
}


