html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

ul {
  padding: 0;
  margin: 0;
}

#splashscreen {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #000;
  color: #fff;
  text-align: center;
}

#defaultApp__ {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#defaultApp__header {
  position: absolute;
  top: 0; right: 0; left: 0;
  height: 44px;
  border-bottom: 1px solid #000;
  background-image: -webkit-linear-gradient(#7c9bc0,#416086 2%,#293e56);
}

#defaultApp__header__prev {
  position: relative;
  z-index: 10;
  -webkit-appearance: none;
  font-weight: bold;
  font-size: 12px;
  background-image: -webkit-linear-gradient(#5a81af,#304864 2%,#192533);
  border: 0.1em solid #030507;
  border-top-color: #0c1118;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 0.1em 0;
  margin: 7px;
  padding: .3em .6em;
  background-clip: padding-box;
  border-radius: 0.4em;
  height: 30px;
  min-width: 60px;
  overflow: hidden;
}

#defaultApp__content {
  position: absolute;
  top: 45px; right: 0; bottom: 45px; left: 0;
  overflow: auto;
}

#defaultApp__header__title {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  text-align: center;
  line-height: 45px;
  color: #fff;
  text-transform: capitalize;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}

#defaultApp__header__prev {
  display: none;
}

#defaultApp__content__itemList {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#defaultApp__content__itemList li {
  height: 41px;
  line-height: 41px;
  border-bottom: 1px solid #e0e0e0;
}

#defaultApp__content__itemList li p {
  margin: 0;
}

#defaultApp__content__detail {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #fff;
}

#defaultApp__footer {
  position: absolute;
  right: 0; bottom: 0;  left: 0;
  height: 49px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAYAAAAbb8MkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC9JREFUCFtjYmBgOMPk7OxszPTq1SsGpv///+Mh/v37R0gJSTrevHkDZQGdQT8CAAJvTGJp5LlAAAAAAElFTkSuQmCC') repeat-x;
  text-align: center;
}

.defaultApp__footer_scroller {
  height: 100%;
}

.defaultApp__footer_scroller ul {
  height: 100%;
}

#defaultApp__footer li {
  display: inline-block;
  vertical-align: top;
  height: 44px;
  margin: 3px;
  color: white;
  min-width: 50px;
  padding: 0 5px;
  font-size: 10px;
  font-weight: 300;
  line-height: 75px;
  text-transform: capitalize;
}

#defaultApp__footer li.selected {
  background: rgba(255, 255, 255, 0.14);
  border-radius: 5px;
}