html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

ul {
  padding: 0;
  margin: 0;
}

.loading {
  background: #fff url('../images/spinner.gif') no-repeat center center;
  width: 100%;
  height: 100%
}

#splashscreen {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #000 url('../images/spinner-inverted.gif') no-repeat center center;
}

#defaultApp__ {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#defaultApp__header {
  position: absolute;
  top: 0; right: 0; left: 0;
  height: 43px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #2D3033;
  background: -webkit-gradient(
    linear, 0 0, 0 100%,
    color-stop(0, #d1d7de),
    color-stop(.016, #b5c0ce),
    color-stop(.5, #889bb3),
    color-stop(.505, #7f94b0),
    color-stop(1, #6d83a1)
  );
}

#defaultApp__header__prev {
  position: relative;
  z-index: 10;
  -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAeCAIAAACqmwlGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAatJREFUeNqVlMtKw0AUhqfJSRpTk5Za1FAvxS6sgrVeFrpQdOcT+IpuBVHcuVBQpCDYjeAdkSpavDTGNJkz43FpFZz8DISZ+b75J5tJbWwfMsZuby7rh/vN5v1H+539TMZxPa84v7g0WirTFISQR/t7jdOTcqVaGp+ze50uIfDbL62H3a3NqerMwtIqXF9dnF+dL6+t9/S6hmFqut4luHns80aKpcrxwY43PKK7+f6J2ZVcYTCl6ZIxKuwatEhbpmU72UKjfgCakXFz/TwW7L8QlgIbTNtBwVAgU0g644IGZoycqYVgQGRRLBQFggEpHJUFBI4iUhYIBhSSPooCwUB0zEWiBsERlRsECJSIUlEgOHmDH3TM909FgWBgqe8oCgRrLGGADlcvIDB5A2nfQ7kD6D5J/jn5lZILBoAUQgWVUgDoWi5r8zhUEXgU5nOOVp0sB+0W+f8WEDY9MabpYNUqQ29Pd1Hoi79eA1qkLQIIY5CGIOwUvYHBQr5xdvn4/BSGnS7BstIDhexUbVo3jNarD1Ky5xfftszF+WqPZcKvp5IjfoYRoYHv0/QLHvXjAb8xkEMAAAAASUVORK5CYII=) 0 5 0 5 stretch stretch;
  background: none;
  border-width: 0 5px;
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  padding: 0 3px;
  margin-left: 6px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.496094) 0 -1px 0;
  margin-top: 7px;
  white-space: nowrap;
  width: auto;
}

#defaultApp__content {
  position: absolute;
  top: 45px; right: 0; bottom: 45px; left: 0;
  overflow: auto;
}

#defaultApp__header__title {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  text-align: center;
  line-height: 43px;
  color: #fff;
  text-transform: capitalize;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
}

#defaultApp__header__prev {
  display: none;
}

#defaultApp__content__itemList {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#defaultApp__content__itemList li {
  height: 41px;
  line-height: 41px;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: #fff 0 0 1px;
}

#defaultApp__content__itemList li p {
  margin: 0;
}

#defaultApp__content__detail {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #fff;
  padding: 6px;
}

#defaultApp__content__detail h4 {
  margin-top: 0;
}

#defaultApp__footer {
  position: absolute;
  right: 0; bottom: 0;  left: 0;
  height: 49px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAYAAAAbb8MkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC9JREFUCFtjYmBgOMPk7OxszPTq1SsGpv///+Mh/v37R0gJSTrevHkDZQGdQT8CAAJvTGJp5LlAAAAAAElFTkSuQmCC') repeat-x;
  text-align: center;
}

.defaultApp__footer_scroller {
  height: 100%;
}

.defaultApp__footer_scroller ul {
  height: 100%;
}

#defaultApp__footer li {
  display: inline-block;
  vertical-align: top;
  height: 44px;
  margin: 3px;
  min-width: 50px;
  max-width: 25%;
  padding: 0 5px;
  font-size: 10px;
  font-weight: 300;
}

#defaultApp__footer li .picto {
  width: 30px;
  height: 30px;
  margin: auto;
  -webkit-mask-box-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABy0lEQVR42u2W4WrbQBCE9xA2ccHCGMSBKRbBolKIG1QL5+n0VH2bPEN/919hO3NZ7uSKS0lDWig2fMzM7p7mr0VV/wnX4mvx3yl+PJ+/AY08Uv+Y70AmvFj8Iz18O68oTg/ewquLh+Gkwykg5+Ek0ETIw8SHHOdpF1QJZ2ebg3xx3/dKvvS9AOQHeJs9BA/o4x00+fSONyRmwft88efjUQ0x9HccL72Q3G22+K7r9K4FXUv/nI0uMZ+1cS5dgLll5s7u23xx0zTaHA4EHhwazuTTNNOHzF3apxl9+g4xny+u61rrfQB+L/S39V6jck9vanPbhb3c7kEdd/TCHeb54o+7ne4AVKbsEvMZmc8UWdN98PliX1XqfaVVVUnlfcgJzr3OZv4iC26A3fpKvGX4fPF2s9XAdkMvpmADT31mE2eRuDdV7JUeGjLIF6/XazXoLZfMkZJaUi2TlGVdliDeiEGfL16tVhq4WcHP+UCiT5rub6hEjWnOFy+XC10sAvdA6H9lSYJf6gL3wHJAkPnuCRqyQZ8vLopCXeEUOoL7whXinMP8EsyhlzjOcGt5RFboE/jqCnqXL8ZvBPpOjC8Vv1f5CK7/ua7F/3nxT9BX/2SPNJLPAAAAAElFTkSuQmCC');
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.6),rgba(255,255,255,0.3));
}

#defaultApp__footer li .name {
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  color: white;
}

#defaultApp__footer li.selected {
  background: rgba(255, 255, 255, 0.14);
  border-radius: 5px;
}

#defaultApp__footer li.selected .picto {
  background-image: -webkit-linear-gradient(left top, #dde9f0,#79b2ec 40%,#2e91e5 50%,#3fc5f8);
}