/* default-css */


html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: url('../images/bg_white.png');
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

ul {
  padding: 0;
  margin: 0;
}

.loading {
  background: #fff url('../images/spinner.gif') no-repeat center center;
  width: 100%;
  height: 100%
}

.list-arrow {
  position: absolute;
  right: 10px; top: 0; bottom: 0;
  width: 10px;
  background: url('../images/list-arrow.png') no-repeat center center;
  background-size: 10px 14px;
}

#splashscreen {
  background: #000 url('../images/spinner-inverted.gif') no-repeat center center;
}

#splashscreen,
#defaultApp__,
.abs100,
.itemList {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}




/* HEADER josh-id-header  */



#defaultApp__header {
  position: absolute;
  top: 0; right: 0; left: 0;
  height: 44px;
}

.header {
  border-bottom: 1px solid #404040;
  background: -webkit-linear-gradient(top, #d8d8d8, #b8b8b8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 
#defaultApp__header__prev 
*/
.josh-id-header_prev {
  -webkit-appearance: none;
  /*
  -webkit-box-shadow: 1px 0 1px rgba(255, 255, 255, 0.3);
  */
  background: transparent url(../images/btn-back-iphone.png) 0 0 no-repeat;
  border-radius: 0;
  border: 0;
  /*
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  */
  color: #FFF; /* before: 585858 */
  display: none;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  height: 31px;
  line-height: 20px;
  margin: 7px 0 0 5px;
  /*
  max-width: 15%;
  */
  overflow: hidden;
  padding-left: 14px;
  position: relative;
  text-overflow: ellipsis;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
  /*
  rgba(255, 255, 255, 0.5) 0 1px 0;
  */
  width: 51px;
  white-space: nowrap;
  position: absolute;
  z-index: 10;
}



#defaultApp__header__title {
  text-align: center;
  line-height: 43px;
  color: #585858;
  text-transform: capitalize;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}

.mainitemlist ul {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}




/* CONTENT josh-id-content */

#defaultApp__content {
  position: absolute;
  top: 45px; right: 0; bottom: 49px; left: 0;
  overflow: auto;
}

/* ITEM LIST */

/* list layout */
li.mainitemlist.list {}
li.mainitemlist.list .title {}
li.mainitemlist.list .abstract {}
li.mainitemlist.list .preview {}
li.mainitemlist.list .preview img {}
li.mainitemlist .thumbnail {}

/* list view of elements */

/* grid layout using for image gallery */

li.mainitemlist.grid {
  float: left;
  width: 25%;
  height: 100px;
  overflow: hidden;
}

li.mainitemlist.grid .thumbnail {
  background-size: cover;
  width: 100%;
  height: 100%;
}


/* content_detail */

.detailViewItem, .about {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

/* main */

.detailView{}

.josh-id-content_detail {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  padding: 0px;
  z-index: 101;
  overflow: hidden;  
  background: url('../images/bg_white.png');
}

.josh-id-content_detail .title {}
/*
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #c5c3be;
  background: #fff;
  padding: 10px;

  margin-bottom: 10px;
*/


.josh-id-content_detail .title h1 {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color:#000;
}

.josh-id-content_detail .title p {
  margin: 0;
  font-size: 13px;
  color:#999;
}

  

/* Detailed view of items list*/

/* Detailed article */

.josh-id-content_detail_article{
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #c5c3be;
  background: #fff;
  padding: 10px;
  }


.josh-id-content_detail_article .title{}

.josh-id-content_detail_article .title H1{
margin: 8px 0 4px 0;
color: #111;
line-height: 18px;
font-size: 15px;
}


.josh-id-content_detail_article .body{}

.josh-id-content_detail_article .body p{
}

.josh-id-content_detail_article .body p a{
color: black;
text-decoration: underline;
}

/* Detailed twitter */

.josh-id-content_detail_twitter{
padding:0;
}

.josh-id-content_detail_twitter .tweet {
  background: #FFF;
  padding:6px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #C5C3BE;
}

.josh-id-content_detail_twitter .tweet .tweet-header{}

.josh-id-content_detail_twitter .tweet .tweet-header img{
position: absolute;
left: 10px;
top: 10px;
width: 48px;
overflow: hidden;
right: 0;
}

.josh-id-content_detail_twitter .tweet .tweet-header .username{
display: none;
}

.josh-id-content_detail_twitter .tweet .tweet-header .userlogin{

margin: 0px 25px 0 63px;
font-size: 14px;
color: #111;
font-weight: 700;
}

.josh-id-content_detail_twitter .tweet .tweet-header .user .login{}

.josh-id-content_detail_twitter .tweet .tweet-content{
margin: 5px 5px 0 63px;
font-size: 16px;
line-height: 20px;
}


.josh-id-content_detail_twitter .tweet .tweet-content p.content {
white-space: normal;
margin: 3px 0;
}

.josh-id-content_detail_twitter .tweet .tweet-content p.content a{
color: black;
}


.josh-id-content_detail_twitter .tweet .tweet-content p.date{
font-size: 13px;
color:#808080;
}


/* Detailed (google) spreadsheets */

.josh-id-content_detail_google{}

.josh-id-content_detail_google .directory{
background: #FFF;
margin: 0;
padding: 10px;
position: absolute;
top: 0;
right: 0;
left: 0;
-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
border-bottom: 1px solid #C5C3BE;
}

.josh-id-content_detail_google .directory .picture{
}
  /*
  position: absolute;
  top: 176px;
  right: 0;
  left: 0;
  */
  
.josh-id-content_detail_google .directory .picture img{
  width: 50%;
  max-height: 350px;
}


.josh-id-content_detail_google .directory .name{
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #111;
  font-weight: 700;
}

.josh-id-content_detail_google .directory .description{
  font-weight: 400;
  line-height: 20px;
  font-size: 13px;
  color: gray;
  margin: 1px 0 0 0;
}

.josh-id-content_detail_google .directory .content{
  font-size: 16px;
  line-height: 20px;
  margin: 3px 0;
}


/* ! Detailed image */
.josh-id-content_detail_image{

}





/* Detailed calendar */
/* to refactore _detail_event .* > same properties than _detail_video .* and a couple more*/

.josh-id-content_detail_event{}

.josh-id-content_detail_event .event{
  background: #FFF;
  padding: 10px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #C5C3BE;
  margin-bottom: 10px;
}

.josh-id-content_detail_event .event .coords{
  font-weight: 400;
  line-height: 20px;
  font-size: 13px;
  color: gray;
}

.josh-id-content_detail_event .event .coords p{
  margin: 0;
  line-height: 20px;
  margin: 0 8px 0 0;
  font-size: 14px;
}

.josh-id-content_detail_event .event .coords .startDate{
  float: left;
  font-weight: 700;
  color: #111;
}

.josh-id-content_detail_event .event .coords .endDate{
  float: left;
}

.josh-id-content_detail_event .event .coords .location{
  float: left;
  font-weight: 700;
}


.josh-id-content_detail_event .event .event-content{
  clear: left;
  margin-top: 25px;
}

.josh-id-content_detail_event .event .event-content .name{
  font-size: 16px;
  color: #111;
  font-weight: 700;
  padding: 0;
  margin: 0 0 10px 0;
}

.josh-id-content_detail_event .event .event-content .description{
  font-size: 16px;
  line-height: 20px;
  margin: 3px 0;
}


/* Detailed video */

.josh-id-content_detail_video{}
.josh-id-content_detail_video .title{
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #c5c3be;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}




/* Content_about */


.josh-id-content_about .aboutpage{
  background: #FFF;
  padding: 20px 10px 10px 10px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #C5C3BE;
}

.josh-id-content_about .aboutpage .abouthtml{
  margin-bottom: 10px;
}

.josh-id-content_about .aboutpage .abouthtml H3{
  margin: 8px 0 4px 0;
  color: #111;
  line-height: 20px;
  font-size: 15px;
}

.josh-id-content_about .aboutpage .abouthtml p{
margin: 0;
font-size: 16px;
line-height: 20px;
color: #000;
}


/* content common styles today:none */



/* FOOTER josh-id-footer */


#defaultApp__footer {
  position: absolute;
  right: 0; bottom: 0;  left: 0;
  height: 49px;
  background: -webkit-linear-gradient(top, #dcdcdc, #eaeaea);
  text-align: center;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition-property: height;
  -webkit-transition-duration: 0.5s;
}

#defaultApp__footer.opened {
  height: 100px;
}

.defaultApp__footer_scroller {
  height: 100%;
}

.defaultApp__footer_scroller ul {
  height: 100%;
}

#defaultApp__footer li {
  display: inline-block;
  vertical-align: top;
  height: 46px;
  min-width: 50px;
  max-width: 25%;
  padding: 0 5px;
  border-top: 3px solid transparent;
  border-left: 1px solid #c9c9c9;
}

#defaultApp__footer li:last-child {
  border-right: 1px solid #c9c9c9;
}

#defaultApp__footer li .picto {
  width: 30px;
  height: 30px;
  margin: auto;
  background: transparent url(../images/icons/newspaper.png);
}

#defaultApp__footer li.more-footer .picto {
  background: url(../images/icons/more.png);
}
#defaultApp__footer li.more-footer.selected .picto {
  background: url(../images/icons/more-hover.png);
}


#defaultApp__footer li .item-about {
  background: url(../images/icons/about.png);
}

#defaultApp__footer li.selected .item-about {
  background: url(../images/icons/about-hover.png);
}


#defaultApp__footer li .item-videos {
  background: url('../images/icons/movie.png');
}

#defaultApp__footer li.selected .item-videos{
  background: url(../images/icons/movie-hover.png);
}

#defaultApp__footer li .item-photos {
  background: url('../images/icons/photos.png');
}

#defaultApp__footer li.selected .item-photos {
  background: url('../images/icons/photos-hover.png');
}

#defaultApp__footer li .item-rss {
  background: url('../images/icons/newspaper.png');
}

#defaultApp__footer li.selected .item-rss {
  background: url('../images/icons/newspaper-hover.png');
}

#defaultApp__footer li .item-spreadsheets {
  background: url('../images/icons/spreadsheet.png');
}

#defaultApp__footer li.selected .item-spreadsheets {
  background: url('../images/icons/spreadsheet-hover.png');
}

#defaultApp__footer li .item-ical {
  background: url('../images/icons/calendar.png');
}

#defaultApp__footer li.selected .item-ical {
  background: url('../images/icons/calendar-hover.png');
}


#defaultApp__footer li .item-tweets {
  background: url(../images/icons/bird.png);
}

#defaultApp__footer li.selected .item-tweets {
  background: url(../images/icons/bird-hover.png);
}


/*
  -webkit-mask-box-image: url(../images/icons/about.png);
  background: #949494;
}
#defaultApp__footer li.more-footer {} 
#defaultApp__footer li.more-footer .picto {
  -webkit-mask-box-image: url('../images/more.png');
}

#defaultApp__footer li .item-videos {
  -webkit-mask-box-image: url('../images/movie.png');
}

#defaultApp__footer li .item-photos {
  -webkit-mask-box-image: url('../images/photos.png');
}

#defaultApp__footer li .item-rss {
  -webkit-mask-box-image: url('../images/newspaper.png');
}

#defaultApp__footer li .item-spreadsheets {
  -webkit-mask-box-image: url('../images/newspaper.png');
}

#defaultApp__footer li .item-ical {
  -webkit-mask-box-image: url('../images/calendar.png');
}

#defaultApp__footer li .item-tweets {
  -webkit-mask-box-image: url('../images/bird.png');
}


*/

#defaultApp__footer li .name {
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  font-size: 12px;
  color: #909090;
}

#defaultApp__footer li.selected {
  background: #fff;
  border-top: 3px solid #ff9900;
}

/*
#defaultApp__footer li.selected .picto {
  background: url(../images/icons/about-hover.png);
}
*/

#defaultApp__footer li.selected .name {
  color: #1f2222;
}

