/* default-css */


img.applogo {
  max-height: 90%;
  max-width: 200px;
  margin: 7px;
}

/* ITEM LIST */

/* list layout */

li.mainitemlist {
  /*
  -webkit-box-sizing: border-box;
  */
  list-style-type: none;
  position: relative;
  overflow: hidden;
  background: #fff; 
}


/* .list controls several lists : videos/blogposting/...*/

li.mainitemlist.list {
  position: relative;
  line-height: inherit;
  border-bottom: 1px solid #e0e0e0;
  /*
  text-overflow: ellipsis;
  white-space: nowrap;
  */
  white-space: normal;
  min-height: 41px;
  padding: 5px 6px 6px 8px;
}




li.mainitemlist.list .title {
  font-weight: 700;
  margin-right: 25px;
  margin-left: 80px;
  font-size: 13px;
  color: #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li.mainitemlist.list .abstract {
margin-right: 0;
margin-left: 80px;
width: 206px;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
display: -webkit-box;
overflow: hidden;
text-overflow: ellipsis;
font-size: 15px;
line-height: 16px;
color: black;
  white-space: normal;
  margin-right: 70px;
}

li.mainitemlist.list .abstract p, li.mainitemlist.list .abstract img, li.mainitemlist.list .abstract p img {
margin: 0;
}

li.mainitemlist.list .preview {
  position: absolute;
  left: 0;
  top:0;
  width: 80px;
  overflow: hidden;
  background: #F9F9F9 url(../images/placeholder-default.png) no-repeat center;

}

li.mainitemlist.list .preview img {
max-height: 64px;
}
/*before max-height: 40px;*/

li.mainitemlist .thumbnail {
  float: left;
  width: 74px;
  height: 74px;
  background-size: cover;
}


/* Double rows */

li.mainitemlist.rows {
  border-bottom: 1px solid #e0e0e0;
  padding: 0 26px 0 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: #fff 0 0 1px;
  text-transform: capitalize;

  -webkit-box-sizing: border-box;
  line-height: inherit;
  padding: 6px;
  width: 50%;
  float: left;
  height: 104px;
}

li.mainitemlist:nth-child(even) {
  border-right: none;
  background: #F1F1F1;
}

li.mainitemlist.rows .list-arrow {
  display: none;
}

li.mainitemlist.rows .title {
  font-weight: bold;
  margin-right: 126px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li.mainitemlist.rows .abstract {
  color: gray;
  font-size: 13px;
  float: left;
  white-space: normal;
  margin-right: 126px;
}

li.mainitemlist.rows .preview {
  position: absolute;
  top: 6px; right: 6px;
}

li.mainitemlist.rows .preview img {
/*  max-height: 40px;*/
}



/* list view of elements */

/*
twitter 
*/
.josh-id-content_itemList li.item-ArticleStatus .tweet .tweet-header{}

.josh-id-content_itemList li.item-ArticleStatus .tweet .tweet-header img{
position: absolute;
left: 10px;
top: 10px;
width: 48px;
overflow: hidden;
right: 0;
}

.josh-id-content_itemList li.item-ArticleStatus .tweet .tweet-header .user{
margin: 0 25px 0 60px;
font-size: 13px;
color: #111;
}

.josh-id-content_itemList li.item-ArticleStatus .tweet .tweet-header .user .name{
display: none;
}

.josh-id-content_itemList li.item-ArticleStatus .tweet .tweet-header .user .login{
font-weight: 700;
}


.josh-id-content_itemList li.item-ArticleStatus .tweet .tweet-content{
margin: 0 4px 0 60px;
font-size: 15px;
line-height: 18px;
}


.josh-id-content_itemList li.item-ArticleStatus .tweet .tweet-content p.content {
white-space: normal;
margin: 3px 0;
}

.josh-id-content_itemList li.item-ArticleStatus .tweet-content p.date{
font-size: 13px;
color:#808080;
margin-top: 0;
}

/*
item-Article
*/

.josh-id-content_itemList li.item-Article{
min-height: 70px;
}

.josh-id-content_itemList li.item-Article .directory{
margin: 0;
padding: 0;
}

.josh-id-content_itemList li.item-Article .thumbnail{
position: absolute;
left: 10px;
top: 10px;
width: 60px;
height: 60px;
overflow: hidden;
right: 0;
}

.josh-id-content_itemList li.item-Article .name{
margin: 2px 25px 0 75px;
font-size: 13px;
color: #111;
font-weight: 700;
}

.josh-id-content_itemList li.item-Article .description{
  margin: 0 4px 0 75px;
  font-size: 15px;
  line-height: 18px;
  white-space: normal;
}

/*
item-event
*/

.josh-id-content_itemList li.item-Event{
  min-height: 31px;
  padding: 10px 6px 6px 8px;
}

.josh-id-content_itemList li.item-Event .event{}

.josh-id-content_itemList li.item-Event .event p{
  margin: 0;
  line-height: 18px;
}




.josh-id-content_itemList li.item-Event .event .startDateDay{
  font-weight: 700;
  color: #111;
  margin-bottom: 4px;
}

.josh-id-content_itemList li.item-Event .event .startDateDay .date{
}

.josh-id-content_itemList li.item-Event .event .startDateDay .localedate{
display: none;
}


.josh-id-content_itemList li.item-Event .event .startDate{
  float: left;
  margin-right: 10px;
/*
position: absolute;
left: 10px;
top: 10px;
font-weight: 700;
color: #111;
*/
}


.josh-id-content_itemList li.item-Event .event .content{
margin: 0px 4px 0 50px;
font-size: 15px;
}



/* 
item-video 
*/
.josh-id-content_itemList li.item-VideoObject{
}

/* 
item-BlogPosting  
*/

li.mainitemlist.item-BlogPosting .preview{

height: 60px;
width: 80px;
overflow: hidden;
text-align: center;
display: table-cell;
vertical-align: middle;

}


/* DETAIL CONTENT */

/* Detail images */

.josh-id-content_detail_image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #111;
  text-align: center;
}

.josh-id-content_detail_image img{
}

/* Detail calendar */

.josh-id-content_detail_event .event .coords .Day .localedate{
display: none;
}

/* Detailed article */

.josh-id-content_detail_article .title H1{
  margin: 8px 0;
  color: #111;
  line-height: 23px;
  font-size: 18px;
}

.josh-id-content_detail_article .body{}

.josh-id-content_detail_article .body p{
  margin: 5px 0 8px 0;
  color: black;
  font-size: 16px;
  line-height: 23px;

}



.josh-id-content_detail_article .body img, .josh-id-content_detail_article .body p img{
  max-width: 100%;
  height: auto;
}


/* ABOUT */

.josh-id-content_about {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}






/* MISC */

.clearfix {
  clear:both;
}