img.applogo {
  max-height: 90%;
  max-width: 200px;
  margin: 7px;
}

/* ITEM LIST */

li.mainitemlist {
  -webkit-box-sizing: border-box;
  list-style-type: none;
  position: relative;
  overflow: hidden;
  background: #fff; 
}

/* list */
li.mainitemlist.list {
  position: relative;
  min-height: 41px;
  line-height: inherit;
  border-bottom: 1px solid #e0e0e0;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px 26px 6px 6px;
}

li.mainitemlist.list .title {
  font-weight: bold;
  margin-right: 70px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li.mainitemlist.list .abstract {
  color: gray;
  font-size: 13px;
  float: left;
  white-space: normal;
  margin-right: 70px;
}

li.mainitemlist.list .preview {
  position: absolute;
  top: 6px; right: 30px;
}

li.mainitemlist.list .preview img {
  max-height: 40px;
}

li.mainitemlist .thumbnail {
  float: left;
  width: 74px;
  height: 74px;
  background-size: cover;
}


/* Double rows */

li.mainitemlist.rows {
  border-bottom: 1px solid #e0e0e0;
  padding: 0 26px 0 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: #fff 0 0 1px;
  text-transform: capitalize;

  -webkit-box-sizing: border-box;
  line-height: inherit;
  padding: 6px;
  width: 50%;
  float: left;
  height: 104px;
}

li.mainitemlist:nth-child(odd) {
  border-right: 1px solid #E0E0E0;
}

li.mainitemlist.rows .list-arrow {
  display: none;
}

li.mainitemlist.rows .title {
  font-weight: bold;
  margin-right: 126px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li.mainitemlist.rows .abstract {
  color: gray;
  font-size: 13px;
  float: left;
  white-space: normal;
  margin-right: 126px;
}

li.mainitemlist.rows .preview {
  position: absolute;
  top: 6px; right: 6px;
}

li.mainitemlist.rows .preview img {
/*  max-height: 40px;*/
}

.clearfix {
  clear:both;
}