html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #333 url(../images/img-bckgd.png) 0 0;
  
  
  
  color: #bbb;
  font-size: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


ul {
  margin: 0;
  padding: 0;
}

.loading {
  background: #fff url('../images/spinner.gif') no-repeat center center;
  width: 100%;
  height: 100%
}


/* Sidebar CSS */


.josh-id-sidebarleft{
  top: 5%;
  left: 5%;
  position: absolute;
  bottom: 0%;
  width: 15%;
  margin: 3% 0 0 0;
  padding: 6px 0 6px 0;
  background-image: linear-gradient(bottom, rgb(10,10,10) 20%, rgb(66,66,66) 80%);
background-image: -o-linear-gradient(bottom, rgb(10,10,10) 20%, rgb(66,66,66) 80%);
background-image: -webkit-linear-gradient(bottom, rgb(10,10,10) 20%, rgb(66,66,66) 80%);
background-image: -webkit-gradient(	linear,	left bottom,	left top,
color-stop(0.2, rgb(10,10,10)), color-stop(0.8, rgb(66,66,66)));
  
  
}


#defaultApp__sidebarleft__header {
  /*
  background-image: -webkit-linear-gradient(bottom, rgb(97,97,97) 11%, rgb(62,61,71) 56%);
  background-image: -o-linear-gradient(bottom, rgb(97,97,97) 11%, rgb(62,61,71) 56%);
  */
  font-size: 18px; 
  color: #F1F1F1;
  position: absolute;
  left: 0; 
  right: 0;
  
  
/*
  width: 90%;
  height: 22px;
  margin: 3% 0 0px 0;
*/
  padding: 8px 8px 18px 10%;

  border-bottom: 1px black solid;
  box-shadow: 0px 1px #505050;

}

.device-tv img.applogo {
  height : auto;
  width : 100%;
}

#defaultApp__sidebarleft__menu {
  position: absolute;
  top: 20%;
  /*
  left: 5%;
  */
  width: 100%;
}

#defaultApp__sidebarleft__menu ul {
  overflow: hidden;
  width: 80%;
  padding: 15px 10%;
/*  border-top: black 1px solid;
  border-bottom: #505050 1px solid; */

}




#defaultApp__sidebarleft__menu li {
 /* float: left;*/
  width: 65%;
  height: 32px;
  padding: 30px 0 30px 35%;
  line-height: 30px;
  border-top: 1px solid #505050;
  border-bottom: 1px solid black;
  border-right: 1px transparent solid;;
  border-left: 1px transparent solid;
  /*
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  */
 
  /*text-align: left;*/
  list-style: none;
  text-transform: capitalize;
  box-shadow: 0 1px #505050, 0 -1px #000;
  text-shadow: 1px 1px 0.5px #000;
  background: url(../images/img-sidebar-menu-video.png) 14% center no-repeat;


}




#defaultApp__sidebarleft__menu li.focused {
  border: #F1F1F1 solid 1px;
  box-shadow: 1px 1px 21px #869be0, inset 1px 1px 15px #000;
  color: #F1F1F1;
  border-radius: 3px;
  text-shadow: 2px 2px black;
  background: url(../images/img-sidebar-menu-video-focus.png) 14% center no-repeat;
}

#defaultApp__sidebarleft__menu li.selected {
  background: blue;
}



/* Global content CSS */



#defaultApp__content {
  position: absolute;
  bottom: 0; 
  left: 20%;
  right: 5%;
  top: 5%;
  /*border: 2px solid #fff;*/
  overflow: auto;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(35%,rgba(0,0,0,0)), color-stop(95%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.9) 95%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.9) 95%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */

}

(top, transparent 0%,transparent 60%,rgba(0, 0, 0, 0.8) 100%,rgba(0, 0, 0, 0.9) 100%)



#defaultApp__content__itemList ul {
  overflow: hidden;
}

#defaultApp__content__itemList li, #defaultApp__content__itemGrid li {
  list-style: none;
  float: left;
  /*
  margin: 20px 4%;
  */
  margin: 2% 4%;
  width: 90%;
  height: 160px;
  text-align: center;
  margin-right: 0;
  overflow: hidden;

}

#defaultApp__content__itemGrid li {
  width: 18%;
  /*
  padding: 10px 13px 15px 13px;
  */
  padding: 1% 1% 1% 1%;
  border:transparent 1px solid;
}

#defaultApp__content__itemGrid li.focused,
#defaultApp__content__itemList li.focused, .defaultApp__content__itemList_scroller li.focused {
  border: #F1F1F1 solid 1px;
  box-shadow:1px 1px 21px #869be0, inset 1px 1px  15px #000;
  color: #F1F1F1;
  border-radius: 3px;
  text-shadow: 1px 1px black;
  background: #333 url(../images/img-bckgd.png) 0 0;
}

#defaultApp__content__itemGrid li .preview, #defaultApp__content__itemList li .preview {
  width: 100%;
  height: 75%;
  background: transparent; 
}

#defaultApp__content__itemList li .preview img, #defaultApp__content__itemGrid li .preview img{
  height: 100%;
}


#defaultApp__content__itemList li .title, #defaultApp__content__itemGrid li .title {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  margin: 10px 0;
  font-weight: 700;
}


/* Video Fullscreen CSS */


#defaultApp__detail {
  background: #333 url(../images/img-bckgd.png) 0 0;
  z-index: 1000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#defaultApp__detail__back {
  -webkit-appearance: none;
  position: absolute;
  left: 10%;
  top: 5%;
  margin-left: -50px;
  background: gray;
  border: 3px solid darkgray;
  width: 100px;
  font-size: 14px;
  opacity: 0.5;
  width: 188px;
  height: 90px;
  font-size: 30px;
  text-shadow: 2px 2px 0.5px #000;
  color: #BBB;
  text-align: left;
  padding: 0 0 0 81px;
  background: #333 url(../images/btn-back.png) 25px 22px no-repeat;

}

#defaultApp__detail__back.focused {
  border: #F1F1F1 solid 1px;
  box-shadow: 1px 1px 21px #869be0, inset 1px 1px 15px #000;
  color: #F1F1F1;
  border-radius: 3px;
  background: #333 url(../images/btn-back-focus.png) 25px 22px no-repeat;
  opacity: 0.9;
  
}



.josh-id-detail_video .josh-id-detail_video_title .title{
display: none;

}



/*Feed CSS */

.defaultApp__content__itemList_scroller ul li.item-BlogPosting{
border: 1px solid transparent;
}

#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-BlogPosting {
text-align: left;
padding: 2%;
height: 300px;
}





#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-BlogPosting .preview {
  
  width: 372px;
  height: 279px;

  float: left;
  margin: 1% 5% 1% 0%;

}

#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-BlogPosting .textsummary {
  
  float: left;
  width: 52%;
  overflow: hidden;
  height: 100%;
}




#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-BlogPosting H3 {
  margin: 0;
  font-size: 40px;
  line-height: 52px;
  text-shadow: 2px 2px #111;
}

#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-BlogPosting p {
  font-size: 28px;
  line-height: 39px;
  margin: 2% 0;
}

/* Details RSS CSS */

.josh-id-detail .detailViewItem {
padding: 7%;


}

.josh-id-detail .detailViewItem .title H1 {
  font-size: 60px;
  text-shadow: 3px 3px #111;
  line-height: 80px;
  }

.josh-id-detail .detailViewItem .title p {
  text-shadow: 2px 2px #111;
  font-size: 40px;
}

.josh-id-detail .detailViewItem p {
  font-size: 48px;
  line-height: 82px;
  text-shadow: 2px 2px #111;

}


/* Twitter CSS */

.defaultApp__content__itemList_scroller ul li.item-ArticleStatus {
  border: 1px transparent solid;
  padding: 2%;
  color: #CCC;
}

#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-ArticleStatus {
  text-align: left;
  height: auto;
  margin: 2% 4% 0 4%;
  
}

#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-ArticleStatus .tweet{
  font-size: 35px;
  line-height: 50px;
  text-shadow: 2px 2px #111;
  margin: 0;
  font-weight: 300;
}

#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-ArticleStatus .tweet a{
color: #EEE;
}

#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-ArticleStatus .tweet img{
  /*
  height:180px;
  margin: 32px;
  float: left;
  */
  width:100px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
}
  
#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-ArticleStatus .tweet p {
margin: 0;
}  




 
#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-ArticleStatus .tweet p.user .name, #defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-ArticleStatus .tweet p.date  {
display: none;
  /*
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  text-shadow: 2px 2px #111;
  margin:0;
  font-weight: 300;
  */

}    


#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-ArticleStatus .tweet p.user {
  font-size: 17px;
  line-height: 20px;
  text-shadow: 1px 1px #111;
  margin:0;

}

 
#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-ArticleStatus .tweet p.user .login {
  color: #DDD;
  font-weight: 600;
  
}


.defaultApp__content__itemList_scroller ul li.item-ArticleStatus .tweet-header{
  float: left;
  width: 145px;
  /*
  background: rgba(10, 10, 10, 0.2);
  */
  padding: 14px 8px;
  text-align: center;

}

  
.defaultApp__content__itemList_scroller ul li.item-ArticleStatus .tweet-content{
  float: left;
  width: 74%;
  margin: 0 0 0 2%;
  padding: 2%;
  box-shadow: inset 0 0 40px 0 #111;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background: rgba(10, 10, 10, 0.2);
  border: 1px solid transparent;
}

#defaultApp__content__itemList  .defaultApp__content__itemList_scroller ul li.item-ArticleStatus.focused {
border: 1px solid transparent;
box-shadow: none;
background: none;

}

#defaultApp__content__itemList .defaultApp__content__itemList_scroller ul li.item-ArticleStatus.focused .tweet p.user .login{
color: #FFF;
}

.defaultApp__content__itemList_scroller ul li.item-ArticleStatus.focused .tweet-content{
border: #F1F1F1 solid 1px;
box-shadow: 1px 1px 21px #869be0, inset 1px 1px 15px #000;

}

  
  
