html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.loading {
  background: #fff url('../images/spinner.gif') no-repeat center center;
  width: 100%;
  height: 100%
}

#defaultApp__header {
  background-image: -webkit-linear-gradient(bottom, rgb(97,97,97) 11%, rgb(62,61,71) 56%);
  background-image: -o-linear-gradient(bottom, rgb(97,97,97) 11%, rgb(62,61,71) 56%);
  font-size: 30px;
  padding: 10px;
}

#defaultApp__menu {
  margin: 20px auto 0;
  width: 90%;
}

#defaultApp__menu ul {
  overflow: hidden;
}

#defaultApp__menu li {
  float: left;
  width: 150px;
  height: 30px;
  line-height: 30px;
  border: 2px solid #fff;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 10px;
  text-align: center;
  list-style: none;
  text-transform: capitalize;
}

#defaultApp__menu li.focused {
  background: orange;
}

#defaultApp__menu li.selected {
  outline: 2px solid blue;
}

#defaultApp__content {
  position: absolute;
  top: 108px; right: 4%; bottom: 30px; left: 4%;
  border: 2px solid #fff;
  overflow: auto;
}

#defaultApp__content__itemList ul {
  overflow: hidden;
}

#defaultApp__content__itemList li {
  outline: 1px solid white;
  list-style: none;
  float: left;
  margin: 20px 4%;
  width: 20%;
  height: 150px;
  text-align: center;
  margin-right: 0;
  overflow: hidden;
}

#defaultApp__content__itemList li.focused {
  outline:3px solid orange;
}

#defaultApp__content__itemList li .preview {
  width: 100%;
}

#defaultApp__content__itemList li .title {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#defaultApp__detail {
  background: black;
  z-index: 1000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

#defaultApp__detail__back {
  -webkit-appearance: none;
  position: relative;
  left: 50%;
  margin-left: -50px;
  background: gray;
  border: 3px solid darkgray;
  width: 100px;
  font-size: 14px;
  opacity: 0.5;
}

#defaultApp__detail__back.focused {
  opacity: 1;
  background: yellow;
}